	<div id="keyboardmod" class="bg-modal">
		<div class="modal-content">
			<div class="buttonclose">
				<button id="closekb" type="button" class="btn-close"></button>
			</div>
			<div class="">
				<partial name="_VirtualKeyboard" />
			</div>
		</div>
	</div>